@charset "UTF-8";
.text17 {
	width: 251px;
	height: 392px;
	color: #410013;
	font-family: Cantarell;
	font-size: 14px;
	display: block;
	z-index: 121;
	position: relative;
	top: -687px;
	left: 9%;
	padding: 30px;
	background-color: rgba(244,244,248,0.84);
	margin-top: 27px;
}
.text18 {
	width: 256px;
	height: 329px;
	color: #410013;
	font-family: Cantarell;
	font-size: 14px;
	display: block;
	z-index: 247;
	position: relative;
	top: -1166px;
	left: 71%;
	padding: 30px;
	background-color: #f4f4f8;
	margin-top: 27px;
}
.tip41 {
	width: 48px;
	text-align: center;
	cursor: pointer;
	position: relative;
	top: 56px;
	left: 691px;
	height: 48px;
	background-repeat: no-repeat;
	z-index: 400;
	display: block;
	background-image: url(graphics/tip_9.gif);
}
div.tip41+ div.tip41box {
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px;
	box-shadow: 2px 2px 4px;
	z-index: 400;
	position: absolute;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}
div.tip41:hover+ div.tip41box{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	z-index: 506;
	position: absolute;
	top: 135px;
	left: 574px;
	width: 275px;
	height: auto;
	font-family: Cantarell;
	font-weight: 700;
	font-size: 14px;
	color: #024690;
}
.tip42 {
	width: 48px;
	text-align: center;
	cursor: pointer;
	position: relative;
	top: 8px;
	left: 451px;
	height: 48px;
	background-repeat: no-repeat;
	z-index: 400;
	display: block;
	background-image: url(graphics/tip_9.gif);
}
div.tip42+ div.tip42box {
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px;
	box-shadow: 2px 2px 4px;
	z-index: 400;
	position: absolute;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}
div.tip42:hover+ div.tip42box{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	z-index: 443;
	position: absolute;
	top: 134px;
	left: 328px;
	width: 275px;
	height: auto;
	font-family: Cantarell;
	font-weight: 700;
	font-size: 14px;
	color: #024690;
}
.tip43 {
	width: 48px;
	text-align: center;
	cursor: pointer;
	position: relative;
	top: 402px;
	left: 477px;
	height: 48px;
	background-repeat: no-repeat;
	z-index: 400;
	display: block;
	background-image: url(graphics/tip_9.gif);
}
div.tip43+ div.tip43box {
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px;
	box-shadow: 2px 2px 4px;
	z-index: 400;
	position: absolute;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}
div.tip43:hover+ div.tip43box{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	z-index: 443;
	position: absolute;
	top: 283px;
	left: 363px;
	width: 275px;
	height: auto;
	font-family: Cantarell;
	font-weight: 700;
	font-size: 14px;
	color: #024690;
}
.tip44 {
	width: 48px;
	text-align: center;
	cursor: pointer;
	position: relative;
	top: 351px;
	left: 682px;
	height: 48px;
	background-repeat: no-repeat;
	z-index: 400;
	display: block;
	background-image: url(graphics/tip_9.gif);
}
div.tip44+ div.tip44box {
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px;
	box-shadow: 2px 2px 4px;
	z-index: 400;
	position: absolute;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}
div.tip44:hover+ div.tip44box{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	z-index: 443;
	position: absolute;
	top: 221px;
	left: 571px;
	width: 284px;
	height: auto;
	font-family: Cantarell;
	font-weight: 700;
	font-size: 14px;
	color: #024690;
}
.tip45 {
	width: 48px;
	text-align: center;
	cursor: pointer;
	position: relative;
	top: 147px;
	left: 582px;
	height: 48px;
	background-repeat: no-repeat;
	z-index: 400;
	display: block;
	background-image: url(graphics/tip_9.gif);
}
div.tip45+ div.tip45box {
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px;
	box-shadow: 2px 2px 4px;
	z-index: 400;
	position: absolute;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}
div.tip45:hover+ div.tip45box{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.32);
	z-index: 443;
	position: absolute;
	top: 113px;
	left: 457px;
	width: 283px;
	height: auto;
	font-family: Cantarell;
	font-weight: 700;
	font-size: 14px;
	color: #024690;
}
.figure9  {
	width: 566px;
	height: 596px;
	background-repeat: no-repeat;
	position: relative;
	z-index: 260;
	background-size: contain;
	left: 27%;
	top: -212px;
	background-image: url(graphics/screen9_illustration.png);
}
